.SideDrawer {
    position: fixed;
    width: 180px;
    max-width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    padding: 0px 16px 16px 0;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 999;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

