.App {
}

.form {
  margin: 1rem;
}

.form .input *{
  display: flex;
  flex-direction: column;
}

.form button {
  background-color: #50005a;
  width: 100px;
  color: white;
}

.form label, .form input {
  display: block;
  width: 100%;
}

.form label {
  font-weight: bold;
}

.form input:focus {
  outline: none;
  border-color: #50005a;
}

.todo-list {
  margin: 1rem;
  padding: 0;;
  list-style: none;
}
.todo-list li {
  width: 300px;
  padding: 1rem;
  border: solid 1px #50005a;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}